@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="Exam" method="get">
    <div class="container text-center mt-3 mb-3">
        <h1>Sınav Bekleme Odası</h1>
        <h5>Sınav Başlangıç Tarihi @ViewBag.start_Date</h5>
        <h5>Sınav Bitiş Tarihi @ViewBag.finish_Date</h5>
        <button type="submit" class="btn btn-outline-secondary mt-3 invisible" name="Kod" value="@ViewBag.Kod" id="Login">Giriş Yap</button>
    </div>
</form>

@section Scripts{

    <script>
        function Timer() {
            var tarih = document.getElementById("tarih-bolumu").innerHTML;
            var saat = document.getElementById("saat-bolumu").innerHTML;
            var NowD = tarih + " " + saat;
            if ( "@ViewBag.start_Date" < NowD && NowD < "@ViewBag.finish_Date" ) {
                document.getElementById("Login").classList.remove("invisible");
            }
            else {
                document.getElementById("Login").classList.add("invisible");
            }
            console.log(NowD);
        }
        setInterval(Timer, 1000);
    </script>

 }